<div class="d-flex align-items-center login-bg">
  <div class="flex-column d-inline-flex mr-5 pr-3 login-position">
    <div class="flex-row">
      <h2>Login</h2>
    </div>
    <div class="card shadow bg-light flex-row">
      <form class="card-body" [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div class="form-group">
          <label>Username</label>
          <input
            type="text"
            formControlName="username"
            class="form-control"
            placeholder="Enter a username"
          />
          <div
            class="text-danger"
            *ngIf="
              loginForm.invalid &&
              (loginForm.get('username')?.dirty ||
                loginForm.get('username')?.touched)
            "
          >
            <p *ngIf="loginForm.get('username')?.hasError('required')">
              Username is required.
            </p>
            <p *ngIf="loginForm.get('username')?.hasError('pattern')">
              Usernames can have numbers, letters, underscore, and dash. Cannot
              start with a number.
            </p>
            <p *ngIf="loginForm.get('username')?.hasError('maxlength')">
              Usernames cannot have more than 16 characters.
            </p>
            <p *ngIf="loginForm.get('username')?.hasError('minlength')">
              Usernames must have a minimum of 2 characters.
            </p>
          </div>
        </div>

        <div class="form-group mt-4">
          <label>Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            placeholder="Enter a password"
          />
          <div
            class="text-danger"
            *ngIf="
              loginForm.invalid &&
              (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched)
            "
          >
            <p *ngIf="loginForm.get('password')?.hasError('required')">
              Password is required.
            </p>
            <p *ngIf="loginForm.get('password')?.hasError('maxlength')">
              Password cannot have more than 64 characters.
            </p>
            <p *ngIf="loginForm.get('password')?.hasError('minlength')">
              Password must have a minimum of 8 characters.
            </p>
            <p *ngIf="loginForm.get('password')?.hasError('pattern')">
              Password must contain at least 1 of the following: lowercase,
              uppercase, number, and special character.
            </p>
          </div>
        </div>
        <div class="flex-column form-group mt-4">
          <button
            type="submit"
            class="btn btn-primary mr-3"
            [disabled]="disableSubmitBtn"
          >
            Login
          </button>
          <button class="btn mr-3 p-0" routerLink="/register">
            Register
          </button>
          <button class="btn mr-2 p-0" routerLink="/forgotpassword">
            Forgot your password?
          </button>
          <p
            class="text-danger pt-2"
            *ngIf="loginForm.invalid || loginForm.untouched"
          >
            {{ emptyFormMsg }}
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
