.login-bg {
    background-image: url("../../assets/images/happy-cow.jpg");
    background-size: cover;
    min-height: 600px;
    height: 95vh;
}

.login-position {
    position: absolute;
    max-width: 32rem;
    left: 10%;
}