<div class="container-fluid">
  <main>
    <div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-auto mt-5">
      <div>
        <h2>Reset Password</h2>
      </div>
      <div class="card col mx-auto mt-3">
        <form
          class="ml-3 mr-3"
          [formGroup]="passwordForm"
          (ngSubmit)="submitForm()"
        >
          <div class="form-group mt-3">
            <label
              >Password
              <span
                class="text-danger"
                *ngIf="passwordForm.get('password')?.invalid"
                >{{ requiredFieldMarker }}</span
              ></label
            >
            <input
              type="password"
              formControlName="password"
              class="form-control"
              placeholder="Enter a password"
            />
            <div
              class="text-danger"
              *ngIf="
                passwordForm.invalid &&
                (passwordForm.get('password')?.dirty ||
                  passwordForm.get('password')?.touched)
              "
            >
              <p *ngIf="passwordForm.get('password')?.hasError('required')">
                Password is required.
              </p>
              <p *ngIf="passwordForm.get('password')?.hasError('maxlength')">
                Password cannot have more than 64 characters.
              </p>
              <p *ngIf="passwordForm.get('password')?.hasError('minlength')">
                Password must have a minimum of 8 characters.
              </p>
              <p *ngIf="passwordForm.get('password')?.hasError('pattern')">
                Password must contain at least 1 of the following: lowercase,
                uppercase, number, and special character.
              </p>
            </div>
          </div>

          <div class="form-group">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="disableSubmitBtn"
            >
              Reset
            </button>
            <p
              class="text-danger"
              *ngIf="passwordForm.invalid || passwordForm.untouched"
            >
              {{ emptyFormMsg }}
            </p>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
