<div class="container-fluid">
  <main>
    <ngb-alert [hidden]="!hasError">
      <strong>Error!</strong> There was an error sending the reset email. Please
      contact the administrator or try again later.
    </ngb-alert>
    <div
      class="col-10 col-sm-8 col-md-6 col-lg-4 mx-auto mt-5"
      [hidden]="isResetComplete"
    >
      <div>
        <h2>Forgot Password</h2>
      </div>
      <div class="card col mx-auto mt-3">
        <form
          class="ml-3 mr-3"
          [formGroup]="resetForm"
          (ngSubmit)="submitForm()"
        >
          <div class="form-group mt-3">
            <label
              >Email
              <span
                class="text-danger"
                *ngIf="resetForm.get('email')?.invalid"
                >{{ requiredFieldMarker }}</span
              ></label
            >
            <input
              type="email"
              formControlName="email"
              class="form-control"
              placeholder="Enter your email address"
            />
            <div
              class="text-danger"
              *ngIf="
                resetForm.invalid &&
                (resetForm.get('email')?.dirty ||
                  resetForm.get('email')?.touched)
              "
            >
              <p *ngIf="resetForm.get('email')?.hasError('required')">
                Email is required.
              </p>
              <p *ngIf="resetForm.get('email')?.hasError('email')">
                Invalid email.
              </p>
            </div>
          </div>

          <div class="form-group">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="disableSubmitBtn"
            >
              Reset
            </button>
            <p
              class="text-danger"
              *ngIf="resetForm.invalid || resetForm.untouched"
            >
              {{ emptyFormMsg }}
            </p>
          </div>
        </form>
      </div>
    </div>

    <div
      class="col-10 col-sm-8 col-md-6 col-lg-4 mx-auto mt-5"
      [hidden]="!isResetComplete"
    >
      <p>Reset link sent to your email.</p>
    </div>
  </main>
</div>
