<div fxLayout="column" fxLayoutAlign="space-evenly center">
  <table class="table table-bordered table-responsive-lg">
    <thead>
    <tr>
      <th class="transaction-table" (click)="onSortChange('date')">
        <div fxLayout="row" fxLayoutAlign="space-between center">Date
          <fa-icon [icon]="faSortDown" [hidden]="options.sortBy!='date'"
                   *ngIf="options.sortDirection==='DESC'"></fa-icon>
          <fa-icon [icon]="faSortUp" [hidden]="options.sortBy!='date'" *ngIf="options.sortDirection==='ASC'"></fa-icon>
        </div>
      </th>
      <th class="transaction-table" (click)="onSortChange('type')">
        <div fxLayout="row" fxLayoutAlign="space-between center">Type
          <fa-icon [icon]="faSortDown" [hidden]="options.sortBy!='type'"
                   *ngIf="options.sortDirection==='DESC'"></fa-icon>
          <fa-icon [icon]="faSortUp" [hidden]="options.sortBy!='type'" *ngIf="options.sortDirection==='ASC'"></fa-icon>
        </div>
      </th>
      <th class="transaction-table" (click)="onSortChange('merchantName')">
        <div fxLayout="row" fxLayoutAlign="space-between center">Merchant Information
          <fa-icon [icon]="faSortDown" [hidden]="options.sortBy!='merchantName'"
                   *ngIf="options.sortDirection==='DESC'"></fa-icon>
          <fa-icon [icon]="faSortUp" [hidden]="options.sortBy!='merchantName'"
                   *ngIf="options.sortDirection==='ASC'"></fa-icon>
        </div>
      </th>
      <th class="transaction-table" (click)="onSortChange('amount')">
        <div fxLayout="row" fxLayoutAlign="space-between center">Amount
          <fa-icon [icon]="faSortDown" [hidden]="options.sortBy!='amount'"
                   *ngIf="options.sortDirection==='DESC'"></fa-icon>
          <fa-icon [icon]="faSortUp" [hidden]="options.sortBy!='amount'"
                   *ngIf="options.sortDirection==='ASC'"></fa-icon>
        </div>
      </th>
      <th class="transaction-table" (click)="onSortChange('newBalance')">
        <div fxLayout="row" fxLayoutAlign="space-between center">New Balance
          <fa-icon [icon]="faSortDown" [hidden]="options.sortBy!='newBalance'"
                   *ngIf="options.sortDirection==='DESC'"></fa-icon>
          <fa-icon [icon]="faSortUp" [hidden]="options.sortBy!='newBalance'"
                   *ngIf="options.sortDirection==='ASC'"></fa-icon>
        </div>
      </th>
      <th class="transaction-table" (click)="onSortChange('pending')">
        <div fxLayout="row" fxLayoutAlign="space-between center">Status
          <fa-icon [icon]="faSortDown" [hidden]="options.sortBy!='pending'"
                   *ngIf="options.sortDirection==='DESC'"></fa-icon>
          <fa-icon [icon]="faSortUp" [hidden]="options.sortBy!='pending'"
                   *ngIf="options.sortDirection==='ASC'"></fa-icon>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transaction of options.transactions">
      <td>{{transaction.date}}</td>

      <td ngSwitch="{{transaction.type}}" fxLayoutAlign="center">
        <fa-icon *ngSwitchCase="'TRANSACTION_DEPOSIT'" [icon]="faDonate"></fa-icon>
        <fa-icon *ngSwitchCase="'TRANSACTION_WITHDRAW'" [icon]="faMoneyBillWave"></fa-icon>
        <fa-icon *ngSwitchCase="'TRANSACTION_TRANSFER'" [icon]="faExchangeAlt"></fa-icon>
        <fa-icon *ngSwitchCase="'TRANSACTION_PAYMENT'" [icon]="faFileInvoiceDollar"></fa-icon>
        <fa-icon *ngSwitchCase="'TRANSACTION_CHECK'" [icon]="faMoneyCheckAlt"></fa-icon>
        <fa-icon *ngSwitchCase="'TRANSACTION_CHARGE'" [icon]="faCreditCard"></fa-icon>
        <fa-icon *ngSwitchDefault></fa-icon>
      </td>

      <td>{{transaction.merchant}}</td>
      <td>{{transaction.amount | number:'1.2-2'}}</td>
      <td>{{transaction.balance | number:'1.2-2'}}</td>
      <td>{{transaction.pending ? "Posted" : "Pending"}}</td>
    </tr>
    </tbody>

  </table>


</div>
<div fxLayout="row wrapper" fxLayoutAlign="space-between">

  <ngb-pagination
    [pageSize]="options.limit"
    [collectionSize]="options.collectionSize"
    [(page)]="options.page"
    [maxSize]="5"
    [rotate]="true"
    [boundaryLinks]="true"
    (pageChange)="onPageChange()"
  ></ngb-pagination>

  <select
    [(ngModel)]="htmlSelect"
    class="custom-select w-auto"
    (change)="onLimitChange(htmlSelect)"
  >
    <option [ngValue]="5">5 items per page</option>
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="20">20 items per page</option>
  </select>
</div>
