<div fxLayout="column" fxLayoutAlign="space-evenly center">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="transaction-table" (click)="onSortChange(0)">
        <div fxLayout="row" fxLayoutAlign="space-between center">Date
          <fa-icon [icon]="faSortDown" [hidden]="options.sortBy!='date'"></fa-icon>
        </div>
      </th>
      <th class="transaction-table" (click)="onSortChange(5)">
        <div fxLayout="row" fxLayoutAlign="space-between center">Type
          <fa-icon [icon]="faSortDown" [hidden]="options.sortBy!='type'"></fa-icon>
        </div>
      </th>
      <th class="transaction-table" (click)="onSortChange(1)">
        <div fxLayout="row" fxLayoutAlign="space-between center">Merchant Information
          <fa-icon [icon]="faSortDown" [hidden]="options.sortBy!='merchantName'"></fa-icon>
        </div>
      </th>
      <th class="transaction-table" (click)="onSortChange(2)">
        <div fxLayout="row" fxLayoutAlign="space-between center">Amount
          <fa-icon [icon]="faSortDown" [hidden]="options.sortBy!='amount'"></fa-icon>
        </div>
      </th>
      <th class="transaction-table" (click)="onSortChange(3)">
        <div fxLayout="row" fxLayoutAlign="space-between center">New Balance
          <fa-icon [icon]="faSortDown" [hidden]="options.sortBy!='newBalance'"></fa-icon>
        </div>
      </th>
      <th class="transaction-table" (click)="onSortChange(4)">
        <div fxLayout="row" fxLayoutAlign="space-between center">Status
          <fa-icon [icon]="faSortDown" [hidden]="options.sortBy!='pending'"></fa-icon>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transaction of options.transactions">
      <td>{{transaction.date}}</td>

      <td ngSwitch="{{transaction.type}}" fxLayoutAlign="center">
        <fa-icon *ngSwitchCase="'TRANSACTION_DEPOSIT'" [icon]="faDonate"></fa-icon>
        <fa-icon *ngSwitchCase="'TRANSACTION_WITHDRAW'" [icon]="faMoneyBillWave"></fa-icon>
        <fa-icon *ngSwitchCase="'TRANSACTION_TRANSFER'" [icon]="faExchangeAlt"></fa-icon>
        <fa-icon *ngSwitchCase="'TRANSACTION_PAYMENT'" [icon]="faMoneyBillWave"></fa-icon>
        <fa-icon *ngSwitchCase="'TRANSACTION_CHECK'" [icon]="faMoneyCheckAlt"></fa-icon>
        <fa-icon *ngSwitchCase="'TRANSACTION_CHARGE'" [icon]="faCreditCard"></fa-icon>
        <fa-icon *ngSwitchDefault></fa-icon>
      </td>

      <td>{{transaction.merchant}}</td>
      <td>{{transaction.amount | number:'1.2-2'}}</td>
      <td>{{transaction.balance | number:'1.2-2'}}</td>
      <td>{{transaction.pending ? "Posted" : "Pending"}}</td>
    </tr>
    </tbody>

  </table>

  <ngb-pagination

    [pageSize]="options.limit"
    [collectionSize]="options.collectionSize"
    [(page)]="options.page"
    [maxSize]="5"
    [rotate]="true"
    [boundaryLinks]="true"
    (pageChange)="onPageChange()"
  >

  </ngb-pagination>
</div>

