<div class="d-flex justify-content-center my-5 animate-fade">
  <div class="wrapper col-10">
    <div class="card shadow">
      <h4 class="card-header border-0">{{ name }}</h4>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-7">
            <label class="mb-0">Account Type</label>
          </div>
          <div class="col-sm-5 text-secondary">{{ type }}</div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-7">
            <label class="mb-0">Account Number</label>
          </div>
          <div class="col-sm-5 text-secondary">{{ id }}</div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-7">
            <label class="mb-0">Current Balance</label>
          </div>
          <div class="col-sm-5 text-secondary">{{ balance }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
