<div>

  <h2>Saving Accounts</h2>
  <ul class="list-group">
    <li *ngFor="let account of savingAccount"
        [ngClass]="{
        'list-group-item mb-1 border-top d-flex justify-content-between account-item' : true,
        'pending': account.confirmed === false
        }"
        (click)="onAccountSelect(account.id)">
      <span>{{account.name}} - {{account.id}}</span>
      <span *ngIf="account.confirmed">${{account.balance.toFixed(2)}}</span>
      <span *ngIf="!account.confirmed">Pending</span>
    </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item mb-1 mt-1 list-group-item-primary border-top border-primary account-create"
        (click)="onApplyAccount(1)">Add a new Account
    </li>
  </ul>

  <h2 class="mt-5">Checking Accounts</h2>
  <ul class="list-group">
    <li *ngFor="let account of checkingAccount"
        [ngClass]="{
        'list-group-item mb-1 border-top d-flex justify-content-between account-item' : true,
        'pending': account.confirmed === false
        }"
        (click)="onAccountSelect(account.id)">
      <span>{{account.name}} - {{account.id}}</span>
      <span *ngIf="account.confirmed">${{account.balance.toFixed(2)}}</span>
      <span *ngIf="!account.confirmed">Pending</span>
    </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item mb-1 mt-1 list-group-item-primary border-top border-primary account-create"
        (click)="onApplyAccount(2)">Add a new Account
    </li>
  </ul>

</div>
