<div class="container-fluid px-0 d-block">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="ng-carousel-template-height">
        <img
          class="img-fluid ng-carousel-template-img"
          [src]="images[0]"
          alt="First slide"
        />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="ng-carousel-template-height">
        <img
          class="img-fluid ng-carousel-template-img"
          [src]="images[1]"
          alt="Second slide"
        />
      </div>
    </ng-template>
  </ngb-carousel>
</div>
