<div class="d-flex justify-content-center homepage-bg animate-fade">
  <div
    class="
      wrapper
      col-10 col-sm-9 col-md-8 col-lg-7
      align-self-center
      position-absolute
      p-3
    "
    style="z-index: 1"
  >
    <h1 class="display-4 font-weight-bold">Bank of Smoothstack</h1>
    <p>
      An easy way to manage your bank account on the web. Bank of Smoothstack
      offers different services such as a Savings account, Checking account, and
      Credit Card service. You will be able to track your spending and make
      better decisions while using our web application anywhere.
    </p>
  </div>
  <ngb-carousel class="w-100">
    <ng-template ngbSlide>
      <img
        class="img-fluid ng-carousel-template-img"
        [src]="images[0]"
        alt="First slide"
      />
    </ng-template>
    <ng-template ngbSlide>
      <img
        class="img-fluid ng-carousel-template-img"
        [src]="images[1]"
        alt="Second slide"
      />
    </ng-template>
  </ngb-carousel>
</div>
